<h1>MI PANEL </h1>
<ul>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36" >how_to_reg</i>  Mi Asistencia</h2>
    <p>Biología: 5 de 6 Clases</p>
    <p>Lenguaje:6 de 6 Clases</p>
    <p>Matemáticas:4 de 6 Clases</p>
  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36" >emoji_events</i>  Mis Desafíos y Notas</h2>
    <p>Gráfico desafío por curso versus notas</p>
    <p>gráfico aquí</p>
  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36" > assignment_turned_in</i>  Mis Promedios</h2>  
    <p>Biología: 5.5</p>
    <p>Lenguaje: 6</p>
    <p>Matemáticas:5.2</p>
  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36">sentiment_dissatisfied</i>  Mis Falencias</h2>
    <p>By making the open state default for when :checked isn't detected, we can make this system accessable for
      browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated
      with Javascript (if needed) by changing the "checked" property of the input element.</p>
  </li>
</ul>
