<h1>MI PANEL </h1>
<ul>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36">how_to_reg</i> Mi Asistencia</h2>
    <p>Biología: 5 de 6 Clases</p>
    <p>Lenguaje:6 de 6 Clases</p>
    <p>Matemáticas:4 de 6 Clases</p>
  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36">emoji_events</i> Mis Desafíos y Logros <span
        class="badge badge-secondary">Test!</span></h2>
    <div class="sectioncontent">
      <p><i class="material-icons" style="text-align: left">emoji_events</i> El más rápido del oeste!</p>
      <p><i class="material-icons" style="text-align: left">emoji_events</i> Tiempo de sobra!</p>
      <p><i class="material-icons" style="text-align: left">emoji_events</i> Sólo un click!</p>
      <p><i class="material-icons" style="text-align: left">emoji_events</i> Búsqueda tan larga como tus pensamientos!
      </p>
    </div>


  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36"> assignment_turned_in</i> Mis Promedios</h2>
    <p>Biología: 5.5</p>
    <p>Lenguaje: 6</p>
    <p>Matemáticas:5.2</p>
  </li>
  <li>
    <input name="accordion" type="radio">
    <i class="arrow"></i>
    <h2><i class="material-icons md-36">sentiment_dissatisfied</i> Mis Falencias <span
        class="badge badge-secondary">Test!</span></h2>
    <P>Me distraigo en clases</P>
    <p>Molesto a mis compañeros</p>
    <p>Hablo mucho en clases</p>
  </li>
</ul>
