<header>
  <style type="text/css">
    @import url("/assets/css/login.css");

  </style>
</header>



<!-- Hero -->
<section class="et-hero-tabs">
  <div class="underbase">
    <br>
    <div class="typewriter">
      <h1>GoNSA2</h1>
      <br>
    </div>
    <div class="typewriter">
      <h2>Cada click, un aprendizaje.</h2>
      <br>
    </div>

    <button class="btn draw-border" (click)="gologin()">Entrar al Portal</button>
  </div>
  <div class="et-hero-tabs-container">
    <a class="et-hero-tab" href="#tab-es6">Quiénes Somos</a>
    <a class="et-hero-tab" href="#tab-flexbox">GoNSA</a>
    <a class="et-hero-tab" href="#tab-react">LA y EDM</a>
    <a class="et-hero-tab" href="#tab-angular">Contacto</a>
    <span class="et-hero-tab-slider"></span>
  </div>
</section>

<!-- Main -->
<main class="et-main">
  <section class="et-slide slide1" id="tab-es6">
    <h1>Quiénes Somos</h1>
    <h3>Somos un grupo de estudiantes de la Universidad Austral de Chile dirigidos por el profesor
      Cristian Olivares-Rodríguez (...)
    </h3>

  </section>
  <section class="et-slide gonsa" id="tab-flexbox">

    <div class="wrap" style="width: 100%;">
      <div class="comp">
        <div class="monitor">
          <div class="mid">
            <div class="site">
              <div class="topbar">
                <div class="cerrar">
                  <div class="circl"></div>
                  <div class="circl"></div>
                  <div class="circl"></div>
                </div>
              </div>
              <div class="inhead">
                <div class="mid">
                  <div class="item"></div>
                </div>
                <div class="mid txr">
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                  <div class="item"></div>
                </div>
              </div>
              <div class="inslid">

              </div>
              <div class="incont">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="wid">
                  <div class="itwid">
                    <div>
                      <div class="contfoot"></div>
                    </div>
                  </div>
                  <div class="itwid">
                    <div>
                      <div class="contfoot"></div>
                    </div>
                  </div>
                  <div class="itwid">
                    <div>
                      <div class="contfoot"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="infoot">

                </div>
              </div>
            </div>
          </div>
          <div class="mid codigo">
            <div class="line">
              <div class="item var"></div>
              <div class="item cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line">
              <div class="item min var"></div>
              <div class="item min fun"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line">
              <div class="item var"></div>
              <div class="item atr"></div>
              <div class="item cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item min atr"></div>
              <div class="item lrg fun"></div>
              <div class="item min fun"></div>
              <div class="item lrg cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item lrg atr"></div>
              <div class="item min fun"></div>
              <div class="item min cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item atr"></div>
              <div class="item min fun"></div>
              <div class="item atr"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item min atr"></div>
              <div class="item min cont"></div>
              <div class="item lrg atr"></div>
              <div class="item  fun"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item min atr"></div>
              <div class="item lrg fun"></div>
              <div class="item lrg cont"></div>
              <div class="item min fun"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab2">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab2">
              <div class="item min atr"></div>
              <div class="item min fun"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab3">
              <div class="item min atr"></div>
              <div class="item min fun"></div>
              <div class="item lrg fun"></div>
              <div class="item lrg cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab3">
              <div class="item min atr"></div>
              <div class="item min fun"></div>
              <div class="item lrg atr"></div>
              <div class="item lrg cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab4">
              <div class="item min fun"></div>
              <div class="item lrg atr"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab1">
              <div class="item atr"></div>
              <div class="item var"></div>
              <div class="item cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab3">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line tab4">
              <div class="item min atr"></div>
              <div class="item min fun"></div>
              <div class="item lrg atr"></div>
              <div class="item lrg cont"></div>
              <div class="clearfix"></div>
            </div>
            <div class="line">
              <div class="item min var"></div>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
        <div class="underbase" style="color:azure;">
          <h1>GoNSA2</h1>
          <h3>Es un servicio de Educational Data Mining (EDM) para profesores de cualquier establecimiento educacional
            que quiera estudiar las habilidades
            de aprendizaje y otras métricas de Learning Analitics sobre sus estudiantes-
          </h3>

        </div>
      </div>
    </div>

  </section>
  <section class="et-slide edm" id="tab-react">
    <h1>LA & EDM</h1>
    <h3>Learning Analitics es el area que estudia ...</h3>
    <h3>EDM, Educational Data Mining son tipos de ...</h3>
  </section>
  <section class="et-slide" id="tab-angular">
    <h1>Contacto</h1>
    <h3>Formulario aquí</h3>
  </section>
</main>




<!-- <div class="container">
  <div id="navbar">
    <a href="#home">Home</a>
    <a href="#about">News</a>
    <a href="#contact">Contact</a>
  </div>


  <div class="wrap" id="#home">
    <div class="comp">
      <div class="monitor">
        <div class="mid">
          <div class="site">
            <div class="topbar">
              <div class="cerrar">
                <div class="circl"></div>
                <div class="circl"></div>
                <div class="circl"></div>
              </div>
            </div>
            <div class="inhead">
              <div class="mid">
                <div class="item"></div>
              </div>
              <div class="mid txr">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
              </div>
            </div>
            <div class="inslid">

            </div>
            <div class="incont">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="wid">
                <div class="itwid">
                  <div>
                    <div class="contfoot"></div>
                  </div>
                </div>
                <div class="itwid">
                  <div>
                    <div class="contfoot"></div>
                  </div>
                </div>
                <div class="itwid">
                  <div>
                    <div class="contfoot"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="infoot">

              </div>
            </div>
          </div>
        </div>
        <div class="mid codigo">
          <div class="line">
            <div class="item var"></div>
            <div class="item cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line">
            <div class="item min var"></div>
            <div class="item min fun"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line">
            <div class="item var"></div>
            <div class="item atr"></div>
            <div class="item cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item min atr"></div>
            <div class="item lrg fun"></div>
            <div class="item min fun"></div>
            <div class="item lrg cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item lrg atr"></div>
            <div class="item min fun"></div>
            <div class="item min cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item atr"></div>
            <div class="item min fun"></div>
            <div class="item atr"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item min atr"></div>
            <div class="item min cont"></div>
            <div class="item lrg atr"></div>
            <div class="item  fun"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item min atr"></div>
            <div class="item lrg fun"></div>
            <div class="item lrg cont"></div>
            <div class="item min fun"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab2">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab2">
            <div class="item min atr"></div>
            <div class="item min fun"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab3">
            <div class="item min atr"></div>
            <div class="item min fun"></div>
            <div class="item lrg fun"></div>
            <div class="item lrg cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab3">
            <div class="item min atr"></div>
            <div class="item min fun"></div>
            <div class="item lrg atr"></div>
            <div class="item lrg cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab4">
            <div class="item min fun"></div>
            <div class="item lrg atr"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab1">
            <div class="item atr"></div>
            <div class="item var"></div>
            <div class="item cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab3">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line tab4">
            <div class="item min atr"></div>
            <div class="item min fun"></div>
            <div class="item lrg atr"></div>
            <div class="item lrg cont"></div>
            <div class="clearfix"></div>
          </div>
          <div class="line">
            <div class="item min var"></div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>
      <div class="base">

      </div>
      <div class="underbase">
        <br>
        <div class="typewriter">
          <h1>GoNSA2</h1>
          <br>
        </div>
        <div class="typewriter">
          <h2>Cada click, un aprendizaje.</h2>
          <br>
        </div>

        <button class="btn draw-border" (click)="gologin()">Entrar al Portal</button>
      </div>
    </div>

  </div>

  <div class="info-gonsa " id="#about">
    <h1>Quienes somos</h1>
    <br>
    <p>Somo un grupo de estudiantes conformados por profesores de la Universidad Austral de Chile y de -España- y buscamos
      de
      ésta herramienta un medio de estudio para el área del aprendizaje y encontrar analíticas que nos den indicadores de
      estudio en estudiantes
    </p>
  </div>
</div> -->
