<app-estudiante-dashboard-header>
</app-estudiante-dashboard-header>
<div class="contentinicio">
    <section class="content-header">
        <h1>Tareas: </h1>
        <ol class="breadcrumb">
            <li (click)="atras()"><a style="pointer-events: none; cursor: default; color: #000;"><i class="fas fa-home"></i> Inicio </a></li>
            <li class="active" style="color: rgb(68, 68, 68)"> <i class="fa fa-flag"></i> Tareas</li>
        </ol>
    </section>


    <div class="contanedor mb-1">
        <app-noiniciada></app-noiniciada>
        <app-terminada></app-terminada>
        <app-noterminada></app-noterminada>
    </div>
</div>