<aside style="padding-top: 34px; position:fixed" class="main-sidebar">
    <section style="padding-top: 15px!important" class="sidebar">
        <div class="user-panel container">
            <div class="pull-left image">
                <img _ngcontent-c12="" alt="Usuario" class="img-circle" src="../../../../../assets/img/profesor_avatar.png">
            </div>
            <div class="pull-left">
                <p>{{nick|titlecase}}</p>
                <a style="color:rgb(241, 233, 233) "><i  class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
    </section>
    <section class="InfoSidebar">
        <li class="header-menu">
            <p style="color: #1d4e2d" class="span2">{{curso}}</p>
        </li>
        <li>
            <p><i class="fab fa-font-awesome-flag"></i><span>Objetivo </span></p>
        </li>
        <div class="inf2">
            <p>{{objetivosidebar}}</p>
        </div>

        <li>
            <p><i class="fas fa-info"></i><span>Descripción </span></p>
        </li>


        <div class="inf2">
            <p>{{descripcionsidebar}} </p>
        </div>


        <li style="color:beige;margin-left: 10px;">Tiempo restante: {{minutos}}:{{segundos}} </li>


    </section>
</aside>