<header>
   <style type="text/css">  @import url("/assets/css/login.css"); </style>
</header>

<div class="materialContainer animated fadeIn">
  <div class="box">

     <div class="title">ENTRAR</div>

     <div class="input">
        <label for="name">Nick</label>
        <input type="text" name="name" id="name">
        <span class="spin"></span>
     </div>

     <div class="input">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass">
        <span class="spin"></span>
     </div>

     <div class="button login">
        <button (click)="fakelogin()"><span>GO!</span> <i class="fa fa-check"></i></button>
     </div>

     <a href="" class="pass-forgot">Olvidaste tu contraseña?</a>

  </div>

  <div class="overbox">
     <div class="material-button alt-2"><span class="shape"></span></div>

     <div class="title">REGISTRO</div>

     <div class="input">
        <label for="regname">Nick</label>
        <input type="text" name="regname" id="regname">
        <span class="spin"></span>
     </div>

     <div class="input">
        <label for="regpass">Contraseña</label>
        <input type="password" name="regpass" id="regpass">
        <span class="spin"></span>
     </div>

     <div class="input">
        <label for="reregpass">Repetir Contraseña</label>
        <input type="password" name="reregpass" id="reregpass">
        <span class="spin"></span>
     </div>

     <div class="button">
        <button><span>SIGUIENTE</span></button>
     </div>


  </div>

</div>