<input data-toggle="modal" id="activarmodaldashboard" data-target="#modaldashboard" tabindex="4" class="form-control btn btn-register" value="" style="display: none;">

<div class="modal fade" id="modaldashboard" tabindex="-1" role="dialog" aria-labelledby="modaldashboard" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaldashboardtitulo">-</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" id="modaldashboardtexto">
                -
            </div>
            <div class="modal-footer">
                <div class="col-sm-5"></div>
                <button href="_" id="bClose" type="button" class="btn btn-primary col-sm-2" data-dismiss="modal" aria-label="Close">OK</button>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
</div>