<app-estudiante-dashboard-header>
</app-estudiante-dashboard-header>

<div class="contentinicio">
    <section class="content-header">
        <h1>Inicio Estudiante: Categorías </h1>
        <ol class="breadcrumb">
            <li [routerLink]="['/estudiante/inicio']"><a href="#" style="pointer-events: none; cursor: default; color: #000;"><i class="fas fa-home"></i> Inicio </a></li>
            <!-- <li class="active" style="color: rgb(68, 68, 68)"> <i class="fas fa-tachometer-alt active"></i> Dashboard</li> -->
        </ol>
    </section>
    <section style="height: 80%; margin-top: 5px;" id="categorias" class="precios seccion">

        <div class="contenedor">
            <ul class="lista-precios clearfix ">
                <!-- <li *ngFor="let nom of nombre; let i= index">
                    <div class="tabla-precio col-md-4 mx-auto">
                        <h3 #nombreclase>{{nom.nombre}}</h3>
                        <p class="numero"><i class="fas fa-brain"></i></p>
                        <ul>
                            <li><i class="fas fa-check"></i>{{nom.descripcion}}</li>

                        </ul>
                        <a (click)="ObtenerNombreClase(nom.nombre)" class="boton btn-outline-primary">Ver tareas...</a>
                    </div>
                </li> -->
                <div class="row">
                    <div *ngFor="let nom of categorias" class="col-xs-3 mx-auto" id="tabla-precio">
                        <mat-card>

                            <mat-card-title>
                                <h3 id="tph3">{{nom}}</h3>
                            </mat-card-title>

                            <mat-card-content>
                                <p class="numero"><i *ngIf="nom=='Ciencias'" class="fab fa-react"></i></p>
                                <p class="numero"><i *ngIf="nom=='Historias'" class="fas fa-church"></i></p>
                                <p class="numero"><i *ngIf="nom=='Matematicas'" class="fas fa-square-root-alt"></i></p>
                                <p class="numero"><i *ngIf="nom=='Lenguaje'" class="fas fa-book-open"></i></p>
                                <p class="numero"><i *ngIf="nom=='Actualidad'" class="fas fa-globe-americas"></i></p>
                                <ul id="tdes">
                                    <!-- <li id="tpli"><i class="fas fa-check"></i>{{nom.descripcion}}</li> -->
                                </ul>
                                <a id="vertareas" (click)="ObtenerNombreClase(nom)" class="boton btn-outline-primary">Ver tareas...</a>
                            </mat-card-content>
                        </mat-card>

                    </div>
                </div>
            </ul>

        </div>
    </section>
</div>


<!--[routerLink]="['tareas',i]" -->