<app-estudiante-dashboard-header></app-estudiante-dashboard-header>
<section class="precios seccion">
    <h4>Clases</h4>
    <div class="contenedor">
        <ul class="lista-precios clearfix ">
            <li *ngFor="let nom of nombre; let i= index">
                <div class="tabla-precio">
                    <h3>{{nom.nombre}}</h3>
                    <p class="numero"><i class="fas fa-brain"></i></p>
                    <ul>
                        <li><i class="fas fa-check"></i>{{nom.descripcion}}</li>

                    </ul>
                    <a [routerLink]="['/estudiante/tareas']" class="boton btn-outline-primary">Ver tareas...</a>
                </div>
            </li>
        </ul>

    </div>
</section>
<!-- 
[routerLink]="['tareas',i]" -->