<mk-layout-wrapper>

    <app-dashboard-header></app-dashboard-header>
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <mk-layout-content>

        <section class="content-header">
            <h1>Detalle de desafío </h1>
            <ol class="breadcrumb">
                <li><a href="#" style="pointer-events: none; cursor: default; color: #000;"><i class="fa fa-tasks"></i> Desafíos </a></li>
                <li class="active" style="color: rgb(68, 68, 68)"> <i class="fas fa-info-circle active"></i> Detalle </li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-sm-12" *ngIf="tieneimagen" style="text-align: center; margin: auto;"><img [src]="imagePath" height="100" width="100"></div>
                <div class="col-sm-12">
                    <h6><strong>Titulo:</strong> {{titulo}}</h6>
                </div>
                <div class="col-sm-12">
                    <h6><strong>Resumen:</strong> {{resumen}}</h6>
                </div>
                <div class="col-sm-12">
                    <h6><strong>Descripción:</strong></h6>
                    <h6 [innerHTML]="descripcion"></h6>
                </div>
                <div class="col-sm-4">
                    <h6><strong>Categoría:</strong> {{categoria}}</h6>
                </div>
                <div class="col-sm-4">
                    <h6><strong>Fecha de creación:</strong> {{fcreado | date: 'dd/MM/yyyy'}}</h6>
                </div>
                <div class="col-sm-4">
                    <h6><strong>Ultima modificación:</strong> {{fmodificado | date: 'dd/MM/yyyy'}}</h6>
                </div>
                <div class="col-sm-8">
                    <h6><strong>Objetivos:</strong> {{objetivos}}</h6>
                </div>
                <div class="col-sm-4">
                    <h6><strong>Código interno:</strong> {{token}}</h6>
                </div>
            </div>
            <hr>
            <div class="row">

            </div>

        </section>


        <div class="card" style="width: 400px !important; align: center">
            <div class="card-header border-transparent">
                <h3 class="card-title">Estudiantes</h3>

                <!-- <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                    <button type="button" class="btn btn-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
                </div> -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-sm-0">
                        <tbody>
                            <thead>
                                <tr>
                                    <th>Nick</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <ng-container *ngFor="let item of users_evaluated">
                                        <tr>
                                            <td><a>{{item}}</a></td>
                                            <td><span class="badge badge-success">Finalizado</span></td>
                                            <br>
                                        </tr>

                                    </ng-container>


                                </tr>
                                <tr>
                                    <ng-container *ngFor="let item of users_in_challenge">
                                        <tr>
                                            <td><a>{{item}}</a></td>
                                            <td><span class="badge badge-warning">En proceso</span></td>
                                            <br>
                                        </tr>

                                    </ng-container>


                                </tr>
                                <tr>
                                    <ng-container *ngFor="let item of users_without_init">
                                        <tr>
                                            <td><a>{{item}}</a></td>
                                            <td><span class="badge badge-danger">No iniciado</span></td>
                                            <br>
                                        </tr>

                                    </ng-container>


                                </tr>
                                <!-- 
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                <td>Samsung Smart TV</td>
                                <td><span class="badge badge-info">Processing</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                <td>Samsung Smart TV</td>
                                <td><span class="badge badge-warning">Pending</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                <td>iPhone 6 Plus</td>
                                <td><span class="badge badge-danger">Delivered</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                <td>Call of Duty IV</td>
                                <td><span class="badge badge-success">Shipped</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                </td>
                            </tr> -->
                            </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </mk-layout-content>
    <app-dashboard-footer></app-dashboard-footer>

</mk-layout-wrapper>