<mk-layout-wrapper>
  
  <app-dashboard-header></app-dashboard-header>
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <mk-layout-content>
      <section class="content-header">
          <h1>Inicio </h1>
          <ol class="breadcrumb">
              <li><a href="#" style="pointer-events: none; cursor: default; color: #000;"><i class="fas fa-home"></i> Inicio </a></li>
              <li class="active" style="color: rgb(68, 68, 68)"> <i class="fas fa-tachometer-alt active"></i> Dashboard</li>
          </ol>
      </section>
      <section class="content">
        <div class="row">
          Aquí va el resumen de todo 
        </div>
      </section>
  </mk-layout-content>
  <app-dashboard-footer></app-dashboard-footer>
 
</mk-layout-wrapper>