<div *ngIf="show" class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">No iniciado</h4>
        </div>
        <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async">
            <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate">
                <div class="card-body">
                    <h5 id="" class="card-title">{{tareasnoinit[i].titulo | uppercase }}</h5>
                    <p #objetivo class="card-text">{{tareasnoinit[i].objetivo | slice:0:200 }}</p>
                    <p hidden="true" #descripcion class="card-text">{{tareasnoinit[i].descripcion}}</p>
                    <p hidden="true">{{tareasnoinit[i].id}}</p>
                    <div style="text-align:center">
                        <a (click)="setInfoNoIniciada(tareasnoinit[i].objetivo,tareasnoinit[i].descripcion, tareasnoinit[i].id)" class="btn btn-primary ">Iniciar desafio</a>
                    </div>
                </div>
            </ngu-tile>

            <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
            <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>

            <ul class="myPoint" NguCarouselPoint>
                <li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
            </ul>
        </ngu-carousel>
    </div>
</div>