<mk-layout-wrapper>

    <app-dashboard-header></app-dashboard-header>
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <mk-layout-content>
        <h3 class="box-title">Editar clase</h3>
        <div class="box box-success">
            <div class="box-header with-border">

                <div class="form-group">
                    <label>school</label>
                    <input id="escuela" type="text" class="form-control" #escuela placeholder="{{this.school}}">

                    <label>identificador</label>
                    <input id="id" type="text" class="form-control" #id placeholder="{{this.identificator}}">

                    <label>class</label>
                    <input id="class" type="text" class="form-control" #class placeholder="{{this.clase}}">

                    <label>year</label>
                    <input id="anho" type="text" class="form-control" #anho placeholder="{{this.year}}">

                </div>
                <button class="btn btn-primary" (click)="editarClase(escuela.value, id.value, class.value, anho.value)">Guardar cambios</button>

            </div>
        </div>
    </mk-layout-content>
</mk-layout-wrapper>
<app-modalalerta></app-modalalerta>