<mk-layout-wrapper>

    <app-dashboard-header></app-dashboard-header>
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <mk-layout-content>
        <h3 class="box-title">Agregar estudiante</h3>
        <div class="box box-success">
            <div class="box-header with-border">

                <div class="form-group">
                    <label>Id clase</label>
                    <input id="id" type="text" class="form-control" #idClase placeholder="{{idclase}}" disabled>

                    <label>Alumno</label>
                    <input id="alumno" type="text" class="form-control" #alumno placeholder="Nick estudiante">

                </div>
                <button class="btn btn-primary" (click)="agregarAlumno(alumno.value)">Guardar cambios</button>

            </div>
        </div>


    </mk-layout-content>
</mk-layout-wrapper>
<app-modalalerta></app-modalalerta>