<body style="    background-color: #ecf0f5;">
    <div class="wapper">
        <app-estudiante-dashboard-header></app-estudiante-dashboard-header>
        <app-dashboardestu-sidebar></app-dashboardestu-sidebar>
        <mk-layout-content>

            <div style=" padding-top:0px;  margin-top: -15px; padding-bottom: -15px" class="content">
                <div style="display: flex;flex-wrap: wrap; margin-right: -30px; margin-left: -15px;" class="row">
                    <div class="col-md-12">
                        <!-- <div class="card">

                    <div class="header"></div>
                    <h4 class="title">titulo</h4>
                    <div class="category"></div>
                </div> -->
                        <div class="top-bg accent"></div>
                        <div class="header accent row" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-between; align-items: center;">

                            <div class="search-wrapper offset-3 mx-auto col-md-8" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                <div class="search" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center; flex: 1 1 0%;">
                                    <mat-icon class="fa fa-search fa-fw"></mat-icon>
                                    <input style="margin-left: 5px; margin-right: 5px;" (keyup.enter)="ConsultaEstudiante(busqueda.value)" id="busqueda" #busqueda class="ng-tns-c68-109" type="text" placeholder="Búsqueda">
                                    <button class="btn btn-link btn-default" (click)="ConsultaEstudiante(busqueda.value)" style="color: #757575;" type="text">Buscar</button>
                                </div>

                            </div>
                            <!-- -->
                            <div class="col-md-4"></div>
                        </div>
                        <div *ngIf="show!=true" class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-info"></i> Atención!</h4>
                            Una vez que hayas hecho tu primera consulta, el desafío comenzará y contaras con un tiempo determinado para terminarlo.
                        </div>
                        <div *ngIf="show==true" style="background-color: white; padding-top: 20px;    margin-right: 0px;     height:auto;" class="row">
                            <div class="col-md-8">
                                <ol *ngFor="let res of resBUSQUEDA | paginate:{itemsPerPage: 5, id: 'documentosi', currentPage: pd }; index as i" class="col-md-12" id="b_results" role="main" aria-label="Resultados de la búsqueda">
                                    <li class="b_algo">
                                        <h2 class="urlstyle">
                                            <a (click)="RegistroEvent(res.url,res.name,i, res.position);AbrirPesta(res.url)">{{res.name | titlecase}}</a>
                                        </h2> <a (click)="GuardarApunte(res.url,res.name, i)"><i id="icon{{i}}_relleno"  class="fa fa-heart-o" title="Añadir a documentos útiles"></i></a>
                                        <a><i id="icon{{i}}" style="display:none" (click)="removeLibreria(res.name,res.url,i)" class="fa fa-heart" title="Quitar de mis documentos"></i></a>
                                        <div class="b_caption">
                                            <div class="b_attribution"><cite #urlLibereria style="color:#006d21">{{res.url}}</cite></div>
                                            <p #textLibreria [innerHTML]="res.snippet"></p>
                                        </div>
                                    </li>
                                </ol>
                                <div style="float:none; text-align: left;" class="pull-left">

                                    <pagination-controls id="documentosi" (pageChange)="pd = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                </div>
                            </div>
                            <!-- <div class="col-md-4"> -->
                            <div class="col-md-4" id="b_context" role="complementary" aria-label="Resultados">
                                <div id="crespuesta" class="box box-primary">
                                    <div class="mat-form-field box-header with-border">
                                        <h3 class="box-title">Respuesta</h3>
                                    </div>
                                    <div> <textarea id="resp2" #respuesta class="form-control" rows="3" placeholder="Escribe tu respuesta aquí..." style="height: 200px; max-width: 100%; margin:auto"></textarea>

                                    </div>
                                    <div style="margin-top:10px; width: 100%;" class="respuesta pull-left">
                                        <button id="guardar" (click)="guardarRepuestaEstudiante(respuesta.value)" class="btn btn-primary mat-raised-button center pull-left">Guardar respuesta</button>
                                        <!-- <button id="enviar" (click)="TerminarDesafio(respuesta.value)" class="btn btn-success pull-right">Enviar</button> -->
                                        <button id="enviar" (click)="ConfirmarTermino(respuesta.value)" class="btn btn-success pull-right">Enviar</button>
                                    </div>

                                </div>

                                <div *ngIf="resBUSQUEDASRELACIONADAS" class="box box-primary busquedasrelacionadas">
                                    <div class="box-header">
                                        <h3 class="box-title">Términos relacionados</h3>
                                    </div>
                                    <div style="list-style: none;margin-left: 10px;">
                                        <li *ngFor="let rela of resBUSQUEDASRELACIONADAS" class="item" style="list-style-type:none;">
                                            <a id="relacionadas" (click)="Busquedarelacionada(rela.text)">{{rela.text| titlecase}}</a>
                                        </li>
                                    </div>
                                </div>


                                <div *ngIf="showH==true" style="width: initial; min-width: 20% !important; max-width: 100%; max-height: 400px; overflow: auto;">
                                    <div class="box box-primary">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Documentos guardados</h3>

                                            <div class="box-tools pull-right">
                                                <span id="consulta" style="display: inline-block;" class="btn btn-box-tool "><i class="far fa-question-circle" title="Guarda los documentos que te sirvierón para responder el desafío"></i>
                                                   
                                                </span>
                                            </div>
                                        </div>
                                        <div style="background: #5f9ea00a" class="box-body ">
                                            <ul class="products-list product-list-in-box">
                                                <li *ngFor="let item of resLIBRERIA; index as i " class="item">
                                                    <div class="">
                                                        <div class="box-tools pull-right">
                                                            <button (click)="removeLibreria(item.text,item.url,i)" type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                        </div>
                                                        <a id="ti" #textL href="{{item.url}}" target="_blank" class="product-title">{{item.text}}</a>
                                                        <span id="ur" #urlL class="product-description">{{item.url}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-3 herramientas">
                    <div class="card">
                        <div class="header"></div>
                        <h4 class="title">sadas</h4>
                        <div class="category"></div>
                    </div>

                    <div class="card">
                        <div class="header"></div>
                        <h4 class="title">sdsadsa</h4>
                        <div class="category"></div>
                    </div>

                    <div class="card">
                        <div class="header"></div>
                        <h4 class="title">sadas</h4>
                        <div class="category"></div>
                    </div>
                    <div class="card">
                        <div class="header"></div>
                        <h4 class="title">sadas</h4>
                        <div class="category"></div>
                    </div>
                </div> -->
                </div>
            </div>
        </mk-layout-content>
    </div>
</body>
<app-modalalerta></app-modalalerta>