<div id="mensaje" *ngIf="mostrar" class="row">
    <div class="col-md-6 mx-auto offset-3">
        <div role="alert" style="background-color: #0d98c7!important" class="alert alert-info alert-with-icon">
            <div class="container">
                <span data-notify="icon" class="fa fa-bell-o"></span>
                <span id="textMensaje" data-notify="message">No existen Tareas</span>
                <button (click)="mostrar=!mostrar" class="close">

                  <i id="cerrar"class="fa fa-times"></i>

              </button>
            </div>
        </div>
    </div>
</div>